* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Varela Round', sans-serif;
    list-style-type: none;
    scroll-behavior: smooth;
}

body {
    background: #ebebeb;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;
}

.menu-button {
    display: none;
}

@media (max-width: 1023px) {
    
    .header-container {
        justify-content: flex-end;
        margin-right: 50px;
    }

    .nav-container {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .button-dropdown {
        width: 30px;
        height: 30px;
        padding: 20px;
        border: 0;
        border-radius: 50%;
    }

    .button-dropdown:active {
        background-color: #b4b3b3;
    }

    .icon-menu-open{
        position: absolute;
        width: 20px;
        height: 3px;
        background-color: black;
        transform: translate(-50%, -50%);
    }

    .icon-menu-open:before  {
        content: '';
        position: absolute;
        width: 20px;
        height: 3px;
        background-color: black;

        transform: translate(-50%, -7px);
    }

    .icon-menu-open:after  {
        content: '';
        position: absolute;
        width: 20px;
        height: 3px;
        background-color: black;

        transform: translate(-50%, 7px);
    }
    
    .dropdown-container {
        display: none;
        position: absolute;
        right: 0;
    }

    .dropdown-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .dropdown-wrapper a {
        text-decoration: none;
        color: #7a7a7a;
        padding: 5px;
    }

    .show { 
        display: block;
    }
}

.nav-wrapper {
    display: flex;
    gap: 50px;
}

.nav-wrapper a {
    color: rgb(41, 32, 32);
    text-decoration: none;
    font-weight: 600;
}

.nav-wrapper a:hover {
    border-bottom: solid 2px gray;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 6rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.home-info {
    display: flex;
    flex-direction: column;
}

.home-info .ballon {
    width: 5rem;
    font-size: 0.7rem;
    font-weight: 600;
    padding: 10px;
    color: white;
    text-align: center;
    background: rgb(103, 210, 183);
    border: 1px solid rgb(103, 210, 183);
    border-radius: 20px 20px 20px 0px;
}

.home-info h2 {
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 2px;
}

.home-info h4 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.home-info > span {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.fab {
    color: rgb(46, 33, 33);
}

.home-info ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    margin-top: 20px;
    margin-left: 20px;
}

.moldure {
    border: rgb(223, 222, 222) 10px solid;
    border-radius: 50%;
}

.image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: rgb(211, 210, 210) 10px solid;

    background-image: url('./img/photo.JPG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.about-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20rem;
}

.about-info ul {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.about-info ul li {
    font-size: 0.7rem;
    padding: 3px;
    border: solid 1px gray;
}

.about-info button {
    padding: 5px;
    width: 100px;

    border: 0px;
    border-radius: 10px;
    background: rgb(103, 210, 183);

    color: white;
}


.about-info button:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-wrapper {
    position: relative;
    display: flex;
    
    gap: 1rem;
    margin-top: 15rem;
}

.skills-list {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    flex-wrap: wrap;
    gap: 1.5rem;
    transform: translate(100px,-230px);
    border: 1px solid white;
    border-radius: 50px;
    padding: 20px;
}

.skills-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-size: 0.7rem;
    border-radius: 50%;
    font-weight: 600;
    color: white;
}

.skills-list li:nth-child(even) {
    background: darkgoldenrod;
}

.skills-list li:nth-child(odd) {
    background: darkslategray;
}


.skills-list li:nth-child(3n) {
    background: forestgreen;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.project-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 1rem;
}

.project-item {
    box-shadow: 0 5px 10px rgba(0,0,0,0.12);
    border-radius: 5px;
    width: 375px;
    height: 275px;
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-item:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(0.4);
    transition: 0.5s;
}
.project-item:after {
    position: absolute;
    display: none;
    content: 'Visitar';
    color: white;
}

.project-item:hover:after {
    display: block;
}